
.container {
  display: flex;
  flex-direction: column;
  padding: 10px;
  min-width: 270px;
  max-width: 270px;
}

.container h3 {
  font-weight: bold;
  margin-bottom: 5px;
}

.container h3 img {
  padding-bottom: 3px;
}

.skins {
  flex: 1;
  overflow-x: hidden;
  overflow-y: auto;
}

.skin {
  border-bottom: 2px solid rgba(42, 45, 52, 0.5);
  padding: 10px 0;
}

.skin img {
  float: left;
  width: 70px;
  margin-right: 5px;
  filter: drop-shadow(-4px 0px 2px rgba(0, 0, 0, 0.2));
}

.skin h5 {
  font-weight: bold;
  word-break: break-all;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-bottom: 2px;
  margin-top: 0;
}

.skinInfo {
  color: #696a6b;
}

.skinPrice {
  color: #9f69ff;
}

.footer {
  padding-top: 5px;
}
