
.header {
  display: flex;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding-bottom: 15px;
  margin-bottom: 15px;
}

.playerName {
  flex: 1;
  display: flex;
  align-items: center;
  font-size: 1.5rem;
  font-weight: 100;
  color: #5a5a5a;
}

.playerName img {
  height: 32px;
  border-radius: 3px;
  margin-right: 10px;
}

.stats {
  display: flex;
  flex-direction: column;
  margin-right: 15px;
}

.stat {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

.statValue {
  color: #673ab7;
  font-size: 1.1rem;
}

.statName {
  font-size: 0.8rem;
  color: rgba(0, 0, 0, 0.25);
}

.chartContainer {
  position: relative;
  flex: 1;
}

.chartWip {
  position: absolute 0;
  bottom: 0;
  background: rgba(255, 255, 255, 0.9);
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  font-size: 0.9rem;
}
