
.modalBody {
  background: rgba(33, 35, 41, 0.9) url(./assets/dark-mosaic.png);
}

.container {
  display: flex;
  flex-direction: column;
  position: absolute 0;
  z-index: 100;
  overflow: hidden;
}

.overlay {
  position: absolute 0;
  z-index: -1;
  background: rgb(33, 35, 41) url(./assets/dark-mosaic.png);
  opacity: 0;
  animation: overlayEnter 0.5s ease forwards;
}

@keyframes overlayEnter {
  100% {
    opacity: 0.95;
  }
}

.content {
  position: relative;
  z-index: 1;
  display: flex;
  flex: 1;
  align-items: center;
}

.content > div {
  position: relative;
}

.stake {
  z-index: 20;
  color: #fff;
  font-weight: bold;
  -webkit-font-smoothing: antialiased;
  font-size: 30px;
  display: flex;
  padding-left: 5px;
  align-items: center;
  animation: stakeEnter 1s ease forwards;
  opacity: 0;
}

@keyframes stakeEnter {
  100% {
    opacity: 1;
  }
}

.controls {
  display: flex;
  padding: 10px;
}

.versus {
  font-weight: bold;
  font-size: 20px;
  min-width: 150px;
  text-align: center;
}
