
$height: 56px;

.container {
  position: relative;
  height: $height;
  min-height: $height;
  border-radius: 5px;
  /*background: rgba(31, 32, 37, 0.8);*/
  /*box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.4);*/
  user-select: none;
  flex: 1;
  overflow: hidden;
  transition: all 0.3s ease;
  text-transform: uppercase;
  margin-left: 25px;
}

.showSpinner {
  width: 0px;
  max-width: 0px;
}

.hide {
  height: 0;
  padding: 0;
}

.container h3 {
  color: rgba(25, 27, 31, 0.75);
  font-size: 1.2rem;
  font-weight: bold;
  text-align: center;
  line-height: $height;
  position: relative;
  margin: 0;
  z-index: 10;
}

.progress {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 1;
  width: 100%;
  overflow: hidden;
  transition: all ease;
  border-radius: 5px;
}

.stripes {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 2000px;
  background: #f4d58d url(assets/zebra.png) 0 0 repeat-x;
  animation: stripes 3s linear infinite;
  transition: background-color .3s linear;
}

@keyframes stripes {
  0% {
    transform: translateZ(0);
  }

  to {
    transform: translate3d(-100px, 0, 0);
  }
}

.progress canvas {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  width: 100%;
}
